{:paths ["src" "test" "resources"]
 :tasks
 {test
  {:doc "Run the pure-cljc test suite (no external deps)."
   :requires ([clojure.test :as t]
              [kasane.codec-test]
              [kasane.decode-test]
              [kasane.bmp-test]
              [kasane.json-test]
              [kasane.vector-test])
   :task (let [{:keys [fail error]}
               (t/run-tests 'kasane.codec-test
                            'kasane.decode-test
                            'kasane.bmp-test
                            'kasane.json-test
                            'kasane.vector-test)]
           (System/exit (if (pos? (+ fail error)) 1 0)))}}}
